.main {
    display: grid;
    grid-template-columns: 110px 910px 420px;
    padding: 15px;
}

.left-container {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-container {
    display: flex;
    flex-direction: column;
}
.mid-container-above{
    width: 910px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mid-container-timeRecord{
    margin-top: 5px;
    width: 90px;
    height: 36px;
    border: 2px solid;
    border-color: red;
    color: red;
    border-radius: 50%;
    text-align: center;

}
.mid-container-time{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    oad
    margin-bottom: 5px;
}
.mid-container-internal{
    color: white;
    background-color: red;
    border: 0px;
    border-radius: 40%;
}




.mid-container-banner{
    width: 830px;
    height: 456px;
}















.right-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.right-container-above{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;    
    
}
.right-item1{
    height: 40px;
    width: 50px;
    text-align: center;
    color: red;
    border: 2px solid;
    border-color: red;
}
